body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0b1220;
  color: white;
}

/* ---------------- HOME ---------------- */
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #111827;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.card button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  cursor: pointer;
}

/* ---------------- LAYOUT ---------------- */
.layout {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL */
.left {
  width: 30%;
  background: #0f172a;
  padding: 20px;
  border-right: 1px solid #1e293b;
}

.box {
  background: #111827;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
}

/* congestion colors */
.low { color: #4ade80; }
.medium { color: #facc15; }
.high { color: #ef4444; }

/* BAR */
.bar {
  width: 100%;
  height: 10px;
  background: #1f2937;
  border-radius: 10px;
  margin: 10px 0;
}

.fill {
  height: 100%;
  background: linear-gradient(to right, #22c55e, #facc15, #ef4444);
  border-radius: 10px;
}

/* ALERT */
.slow {
  background: #ef4444;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0.4; }
}

/* ---------------- CHAT ---------------- */
.right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* CHAT AREA */
.chat {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* MESSAGE */
.msg {
  max-width: 60%;
  padding: 10px;
  border-radius: 12px;
}

/* ME (RIGHT SIDE) */
.me {
  align-self: flex-end;
  background: #22c55e;
  color: black;
}

/* OTHERS (LEFT SIDE) */
.other {
  align-self: flex-start;
  background: #1f2937;
}

.name {
  font-size: 11px;
  opacity: 0.7;
}

/* SYSTEM MESSAGE */
.system {
  align-self: center;
  background: #334155;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

/* INPUT */
.input {
  display: flex;
  padding: 10px;
  gap: 10px;
  background: #111827;
}

.input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.input button {
  padding: 10px 16px;
  border-radius: 20px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}
