body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0b1220;
  color: white;
}

/* layout */
.layout {
  display: flex;
  height: 100vh;
}

/* left */
.left {
  width: 30%;
  background: #0f172a;
  padding: 20px;
}

.box {
  background: #111827;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
}

/* chat */
.right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.chat {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* bubbles */
.msgContainer {
  display: flex;
  width: 100%;
}

.msgContainer.left {
  justify-content: flex-start;
}

.msgContainer.right {
  justify-content: flex-end;
}

.msgBubble {
  display: inline-block;
  max-width: 60%;
  padding: 10px 14px;
  border-radius: 14px;
  word-break: break-word;
}

.msgContainer.left .msgBubble {
  background: #1f2937;
  color: white;
  border-bottom-left-radius: 4px;
}

.msgContainer.right .msgBubble {
  background: #22c55e;
  color: black;
  border-bottom-right-radius: 4px;
}

.msgName {
  font-size: 11px;
  opacity: 0.7;
}

.msgText {
  font-size: 14px;
}

/* input */
.input {
  display: flex;
  padding: 12px;
  gap: 10px;
  background: #111827;
}

.input input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #0f172a;
  color: white;
}

.input button {
  background: #22c55e;
  border: none;
  padding: 12px 18px;
  border-radius: 20px;
}

/* admin */
.adminBox {
  background: #111827;
  padding: 12px;
  border-radius: 12px;
}

.requestCard {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: #1f2937;
  margin-top: 6px;
  border-radius: 8px;
}

.reqBtns {
  display: flex;
  gap: 6px;
}

.approve {
  background: #22c55e;
  border: none;
  padding: 5px 8px;
}

.reject {
  background: #ef4444;
  border: none;
  padding: 5px 8px;
}
